@import "../../App.scss";

.singleView {
    padding: 30px 0;
    max-width: 300px;
    position: relative;

    @include desktop {
        max-width: 800px;
    }

    img {
        width: 100%;
        // max-width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 20px 0;
        border: 2px solid rgb(175, 175, 175);

        @include desktop {
            max-width: 300px;
            height: 100%;
        }
    }

    &__wrapper {
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    
    &__content {
        @include desktop {
            margin-left: 30px;
            margin-top: 30px;
        }
    }

    &__title {
        color: #fff;
        font-size: 35px;
    }

    &__releaseDate {
        color: #fff;
        margin-top: 10px;
        font-size: 13px;
    }

    &__scores {
        display: flex;
        // justify-content: space-between;
        align-items: flex-end;
        margin-top: 20px;

        &__metascore {
            // width: 50px;
            // height: 50px;
            // background-color: rgb(70, 155, 70);
            // border-radius: 50%;
            display: grid;
            place-items: center;
            font-size: 24px;
            color: rgb(99, 190, 99);
            font-weight: bolder;
            margin-right: 30px;
        }

        &__imdb {
            font-size: 24px;
            font-weight: bolder;
            color: orange;
        }
    }

    &__genre {
        font-size: 14px;
        background-color: orange;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 40px;
        margin-top: 10px;
    }

    &__runtime {
        color: #fff;
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    &__plot {
        color: #fff;
        font-size: 14px;
        line-height: 18px;
    }

    &__creators {
        margin-top: 20px;

        p {
            font-size: 10px;
            background-color: orange;
            width: fit-content;
            padding: 5px 10px;
            margin-top: 10px;
        }
    }

}

.linkBack {
    font-size: 40px;
    color: orange;
}

.ratings {
    display: flex;
    margin-top: 30px;
    flex-direction: row-reverse;
    justify-content: flex-end;

    div {
        width: 30px;
        height: 30px;
        border: none;
        border: 2px solid yellow;
        color: yellow;
        background-color: transparent;
        border-radius: 50%;
        margin-right: 8px;
        display: grid;
        place-items: center;
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: bold;

        &:hover, &:hover ~ div {
            cursor: pointer;
            background-color: yellow;
            color: #000;
        }
    }
}

.ratingShow {
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: relative;

    @include desktop {
        width: 300px;
    }

    div {
        width: 30px;
        height: 30px;
        border: 5px solid yellow;
        background-color: yellow;
        border: none;
        border-radius: 50%;
        margin-right: 8px;
        display: grid;
        place-items: center;
        font-size: 20px;
        padding-bottom: 5px;
        font-weight: bold;
    }
}

.resetBtn {
    height: 25px;
    padding: 0 15px;
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 187, 60);
    font-size: 20px;
    display: grid;
    place-items: center;
    font-weight: bold;
    cursor: pointer;

    position: absolute;
    right: 0;
}

.reviewForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    textarea {
        background-color: rgb(255, 238, 191);
        border: none;
        width: 300px;
        height: 100px;
        padding: 10px;
        resize: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bolder;
        white-space: pre-line;
    }

    button {
        width: 100%;
        margin-top: 5px;
        border: none;
        background-color: rgb(65, 65, 65);
        border-radius: 2px;
        height: 30px;
        color: #fff;
        font-size: 14px;
        font-weight: bolder;

        &:hover {
            cursor: pointer;
            background-color: darken(rgb(65, 65, 65), 3%);
        }
    }
}

.commentShow {
    display: flex;
    align-items: center;
    margin-top: 25px;
    position: relative;

    @include desktop {
        width: 300px;
    }

    p {
        background-color: rgb(65, 65, 65);
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        width: 80%;
        color: #fff;
        border-radius: 10px;
        overflow-wrap: break-word;
        white-space: pre-line;
    }
}